body{
    text-align: center;
    background-color: blueviolet;
}
nav h1 {
    background-image: url("./SPSresources/candyprime.png");
    display: flex;
    margin: 0;
    height: 200px;
    width: auto;
    
    }
#Soft-Candy {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#Soft-Candy ul{
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
    width: auto;
    align-items: center;
}
#Soft-Candy div.card{
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 275px;
    padding: 15em green;
    background-color: indigo;
    margin: 50px;
    height: auto;
    border: 1px solid red;
}

label {
display: flex;
color: blue;
flex-direction: column;
}

#Candy-Categories ul li {
    list-style: none;
    text-emphasis: none;
    margin: 4px;
}
#Candy-Categories ul a{
    text-decoration: none;
    font-weight: 900;
    flex-direction: row;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 150px;
    margin-left: 50px;
    margin-right: 50px;
}
title, h1 {
    padding-top: 100px;
}