body {
    text-align: center;
    background-color: cornsilk;
    font-family: "Trebuchet MS, Helvetica, sans-serif";
    overflow: auto;
    margin: 0;
}
section {
    min-height: 100vh;
}
nav h1 {
    background-image: url("./SPSresources/Mixed-Candy.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow: auto;
    height: 200px;
    width: auto;
    font-weight: 700px;
    font-style: initial;
    }
h1 {
    padding-top: 1em;
    font-size: 3em;
    background-color: green;
    border-color: hotpink;
    height: 3000px;
    font-size: 100px;
}

#Soft-Candy {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#Miscellaneous-Candy{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: green;
    justify-content: space-around;
}
#Miscellaneous-Candy div div.card{
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: auto;
    background-color: blue;
}
#Soft-Candy ul{
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
    width: auto;
    align-items: center;
}
#Soft-Candy div.card{
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 275px;
    padding: 15em green;
    background-color: indigo;
    margin: 50px;
    height: auto;
    border: 1px solid red;
    overflow: auto;
}
label {
    display: flex;
    color: blue;
    flex-direction: column;
}
#Candy-Categories ul li {
    list-style: none;
    text-emphasis: none;
    margin: 4px;
    padding 
}
nav ul{
    display: flex
    flex-direction: row;
    justify-content: space-around;
    margin: 320px;
}
#Chocolate {
    border: 10rem darkcyan;
    margin: 0;
    padding: blue;
    overflow: auto;
}
#Chocolate {
    background-image: url("./SPSresources/Hersheys.jpg")
}
#Chocolate div {
    background-color: white;
    padding: 10px;
    height: max-content;
}
#Chocolate h2{
    margin-top: 200px;
    margin-bottom: 0px;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    background-color: white;
}
#Chocolate h2, #Chocolate div {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#Miscellaneous-Candy h4 {
    margin: 0px;
    padding: 0em;
}